生成一个CSV文件，包含着所有的data，标注了label

In [4]:
import os
import pandas as pd
import numpy as np

In [3]:
from sklearn.utils import shuffle

In [23]:
pos_files = np.array(list(map(lambda x:'../positive_graph_save/' + x, os.listdir('../positive_graph_save/'))))
pos_labels = np.ones(pos_files.shape)
neg_files = np.array(list(map(lambda x:'../negative_graph_save/' + x, os.listdir('../negative_graph_save/'))))
neg_labels = np.zeros(neg_files.shape)

In [24]:
df_pos = pd.DataFrame([pos_files, pos_labels], index = ['file_name', 'label'])
df_neg = pd.DataFrame([neg_files, neg_labels], index = ['file_name', 'label'])

In [25]:
df_pos.head()

,0,1,2,3,4,5,6,7,8,9,...,4842,4843,4844,4845,4846,4847,4848,4849,4850,4851
file_name,../positive_graph_save/4CPY,../positive_graph_save/1LYB,../positive_graph_save/3K1J,../positive_graph_save/2P16,../positive_graph_save/4OR4,../positive_graph_save/3DGO,../positive_graph_save/3V3Q,../positive_graph_save/4WT2,../positive_graph_save/1UZ1,../positive_graph_save/1FKN,...,../positive_graph_save/5OH2,../positive_graph_save/1NVQ,../positive_graph_save/6CKR,../positive_graph_save/3DC3,../positive_graph_save/5NZ4,../positive_graph_save/4MC9,../positive_graph_save/1JVU,../positive_graph_save/4G0P,../positive_graph_save/2WC3,../positive_graph_save/4GAH
label,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [26]:
df_neg.head()

,0,1,2,3,4,5,6,7,8,9,...,7488,7489,7490,7491,7492,7493,7494,7495,7496,7497
file_name,../negative_graph_save/3qfz_ligand_2,../negative_graph_save/5efa_ligand_1,../negative_graph_save/2jdu_ligand_4,../negative_graph_save/4h3g_ligand_3,../negative_graph_save/3qfz_ligand_9,../negative_graph_save/2oi2_ligand_7,../negative_graph_save/4lm3_ligand_4,../negative_graph_save/2ces_ligand_2,../negative_graph_save/4zgk_ligand_6,../negative_graph_save/5dkn_ligand_4,...,../negative_graph_save/3s78_ligand_2,../negative_graph_save/2wvt_ligand_2,../negative_graph_save/1r1h_ligand_3,../negative_graph_save/5we9_ligand_3,../negative_graph_save/1li3_ligand_8,../negative_graph_save/4wn5_ligand_2,../negative_graph_save/1oxr_ligand_1,../negative_graph_save/4g0y_ligand_4,../negative_graph_save/4nra_ligand_7,../negative_graph_save/1oar_ligand_3
label,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df_pos.to_csv('./positive_dataset.csv')
df_neg.to_csv('./negative_dataset.csv')