In [1]:
import time
import os
import pandas as pd
import numpy as np
import torch
import gc
import dgl
import torch.nn as nn
import torch.nn.functional as F
from dgl.nn.pytorch import GraphConv
from torch.autograd import Variable

from sklearn.utils import shuffle
batchSize = 20

Using backend: pytorch

In [2]:
df = pd.read_csv('./train_dataset.csv')
df.head()

   Unnamed: 0                             file_name  label
0           0  ../negative_graph_save/4de5_ligand_2    0.0
1           1  ../negative_graph_save/5ngz_ligand_2    0.0
2           2  ../negative_graph_save/4rvr_ligand_4    0.0
3           3  ../negative_graph_save/2cgf_ligand_5    0.0
4           4  ../negative_graph_save/5n0e_ligand_7    0.0

In [27]:
types = ['H', 'HD', 'HS', 'C', 'A', 'N', 'NA', 'NS', 'OA', 'OS', 'F', 'MG', 'P', 'SA', 'S', 'CL', 'CA', 'MN', 'FE', 'ZN', 'BR', 'I']
typesCnt = {}.fromkeys(types, 0)
typesCnt

{'H': 0,
 'HD': 0,
 'HS': 0,
 'C': 0,
 'A': 0,
 'N': 0,
 'NA': 0,
 'NS': 0,
 'OA': 0,
 'OS': 0,
 'F': 0,
 'MG': 0,
 'P': 0,
 'SA': 0,
 'S': 0,
 'CL': 0,
 'CA': 0,
 'MN': 0,
 'FE': 0,
 'ZN': 0,
 'BR': 0,
 'I': 0}

In [52]:
atomsCnt = np.zeros(44)
for i, row in df.iterrows():
    g = dgl.load_graphs(row['file_name'])[0][0]
    #print(g)
    #print(g.ndata['h'].shape)
    #print(np.array(g.ndata['h'].squeeze(1).sum(0)))
    atomsCnt = atomsCnt+np.array(g.ndata['h'].squeeze(1).sum(0))
    print('\r' + str(i), end='')

21281

In [53]:
np.set_printoptions(suppress=True)
atomsCnt

array([      0., 1751953.,       0., 2331176.,  543285.,  744218.,
         35597.,       0., 1193117.,       0.,       0.,    1072.,
             0.,       0.,   28679.,       0.,     566.,     353.,
           143.,    3912.,       0.,       0.,       0.,   74193.,
             0.,  190789.,  137985.,   40908.,   17974.,       0.,
         97346.,       0.,    4295.,       0.,    4537.,       0.,
          7736.,    2927.,       0.,       0.,       0.,       0.,
           599.,     125.])

In [54]:
dfVal = pd.read_csv('./validation_dataset.csv')
for i, row in dfVal.iterrows():
    g = dgl.load_graphs(row['file_name'])[0][0]
    #print(g)
    #print(g.ndata['h'].shape)
    #print(np.array(g.ndata['h'].squeeze(1).sum(0)))
    atomsCnt = atomsCnt+np.array(g.ndata['h'].squeeze(1).sum(0))
    print('\r' + str(i), end='')

5347

In [55]:
atomsCnt

array([      0., 2187220.,       0., 2912684.,  676293.,  930295.,
         44176.,       0., 1488516.,       0.,       0.,    1265.,
             0.,       0.,   35621.,       0.,     741.,     519.,
           172.,    4933.,       0.,       0.,       0.,   92336.,
             0.,  238762.,  173318.,   51008.,   22566.,       0.,
        121764.,       0.,    5322.,       0.,    5609.,       0.,
          9950.,    3636.,       0.,       0.,       0.,       0.,
           835.,     163.])

In [56]:
dfTest = pd.read_csv('./test_dataset.csv')
for i, row in dfVal.iterrows():
    g = dgl.load_graphs(row['file_name'])[0][0]
    #print(g)
    #print(g.ndata['h'].shape)
    #print(np.array(g.ndata['h'].squeeze(1).sum(0)))
    atomsCnt = atomsCnt+np.array(g.ndata['h'].squeeze(1).sum(0))
    print('\r' + str(i), end='')
atomsCnt

5347

array([      0., 2622487.,       0., 3494192.,  809301., 1116372.,
         52755.,       0., 1783915.,       0.,       0.,    1458.,
             0.,       0.,   42563.,       0.,     916.,     685.,
           201.,    5954.,       0.,       0.,       0.,  110479.,
             0.,  286735.,  208651.,   61108.,   27158.,       0.,
        146182.,       0.,    6349.,       0.,    6681.,       0.,
         12164.,    4345.,       0.,       0.,       0.,       0.,
          1071.,     201.])

In [57]:
dfVal.head()

   Unnamed: 0                             file_name  label
0           0  ../negative_graph_save/1a4k_ligand_7    0.0
1           1           ../positive_graph_save/4avh    1.0
2           2  ../negative_graph_save/4lm4_ligand_5    0.0
3           3  ../negative_graph_save/4c5d_ligand_7    0.0
4           4  ../negative_graph_save/5l4m_ligand_3    0.0

In [58]:
dfTest.head()

   Unnamed: 0  Unnamed: 0.1                           file_name  label
0           0             0  ../positive_graph_save8A_test/6as8    1.0
1           1             1  ../positive_graph_save8A_test/6eeb    1.0
2           2             2  ../positive_graph_save8A_test/6dys    1.0
3           3             3  ../positive_graph_save8A_test/5zg1    1.0
4           4             4  ../positive_graph_save8A_test/6aro    1.0

In [51]:
atomsCnt

2622487.0

In [59]:
atomsCnts = np.array_split(atomsCnt, 2)
atomsCnt = atomsCnts[0] + atomsCnts[1]
atomsCnt

array([      0., 2732966.,       0., 3780927., 1017952., 1177480.,
         79913.,       0., 1930097.,       0.,    6349.,    1458.,
          6681.,       0.,   54727.,    4345.,     916.,     685.,
           201.,    5954.,    1071.,     201.])